In [1]:
# import and set alias for pandas
import pandas as pd

In [2]:
# read in purchase_data.csv file

data_file = "../../gt-virt-data-pt-12-2021-u-c/04-Pandas/Homework/HeroesOfPymoli/Resources/purchase_data.csv"

In [3]:
heroes_data = pd.read_csv(data_file)

In [4]:
heroes_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [5]:
heroes_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
# count unique # of players and create dataframe to allow printing in specified format
unique_cnt = heroes_data["SN"].nunique()
unique_cnt_df = pd.DataFrame([unique_cnt])
unique_cnt_df = unique_cnt_df.rename(columns = {0: "Total Players"})
unique_cnt_df

   Total Players
0            576

In [7]:
# create format functions
def format_dlr(x):
    return "${:.2f}".format

In [8]:
# create purchasing analysis stats: # unique items, avg price, # purchases and total revenue
num_unique_items = heroes_data["Item Name"].nunique()
avg_price = heroes_data["Price"].mean()
num_purchases = heroes_data["Purchase ID"].count()
tot_rev = heroes_data["Price"].sum()

# create new df using purchasing stats
# use index option within dataframe function since passing scalar values
purchase_df = pd.DataFrame({"Number of Unique Items": num_unique_items, 
                            "Average Price": avg_price, 
                            "Number of Purchases": num_purchases, 
                            "Total Revenue": tot_rev}, index=[0])

# add formatting to average price and total revenue
purchase_df["Average Price"] = purchase_df["Average Price"].map("${:.2f}".format)
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${:,.2f}".format)

# display the purchasing analysis
purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [9]:
# create a unique data set of customers
unique_cust = heroes_data.drop_duplicates(subset = "SN", inplace = False)
unique_cust

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [10]:
# use unique_cust df to calculate disribution of gender
gender_df = pd.DataFrame(unique_cust["Gender"].value_counts())
gender_df["Percent"] = (gender_df["Gender"]/gender_df["Gender"].sum())*100
gender_df = gender_df.rename(columns = {"Gender": "Total Count",
                                       "Percent": "Percentage of Players"})
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)

# display gender demographics
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
# create df to allow purchase analysis at gender level
gender_price = heroes_data[["Gender", "Price"]]
gender_sn = heroes_data[["Gender", "SN"]]

In [12]:
# perform calculation for purchase count
pur_cnt = gender_sn.groupby(["Gender"]).count()
pur_cnt = pur_cnt.rename(columns = {"SN": "Purchase Count"})
pur_cnt = pur_cnt.reset_index()

# perform calculation for total purchase value
tot_pur_val = gender_price.groupby(["Gender"]).sum()
tot_pur_val = tot_pur_val.rename(columns = {"Price": "Total Purchase Value"})
tot_pur_val = tot_pur_val.reset_index()

# perform calculation for customer number
num_cust = gender_sn.groupby(["Gender"]).nunique()
num_cust = num_cust.rename(columns = {"SN": "Person Count"})
num_cust = num_cust.reset_index()

# merge 3 dfs using inner on gender
gender_pur_df = pd.merge(pd.merge(pur_cnt, tot_pur_val, how = "inner", on = "Gender"), num_cust, how = "inner", on = "Gender")
gender_pur_df.set_index("Gender", inplace = True)
gender_pur_df["Average Purchase Price"] = gender_pur_df["Total Purchase Value"]/gender_pur_df["Purchase Count"]
gender_pur_df["Average Total Purchase per Person"] = gender_pur_df["Total Purchase Value"]/gender_pur_df["Person Count"]
gender_pur_df = gender_pur_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]
gender_pur_df["Average Total Purchase per Person"] = gender_pur_df["Average Total Purchase per Person"].map("${:.2f}".format)
gender_pur_df["Average Purchase Price"] = gender_pur_df["Average Purchase Price"].map("${:.2f}".format)
gender_pur_df["Total Purchase Value"] = gender_pur_df["Total Purchase Value"].map("${:,.2f}".format)

# display purchasing analysis (gender)
gender_pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:
# create bins
age_bin_summary = unique_cust[["Age", "SN"]]
bins = [0, 9, 14, 19, 24, 29, 34, 39, float("inf")]
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [14]:
age_bin_summary["Age Ranges"] = pd.cut(age_bin_summary["Age"], bins, labels = age_bin_names, include_lowest = True)
age_bin_summary.head()

<ipython-input-14-403dc888cfd8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_bin_summary["Age Ranges"] = pd.cut(age_bin_summary["Age"], bins, labels = age_bin_names, include_lowest = True)

   Age             SN Age Ranges
0   20        Lisim78      20-24
1   40    Lisovynya38        40+
2   24     Ithergue48      20-24
3   24  Chamassasya86      20-24
4   23      Iskosia90      20-24

In [15]:
# group by age range
grouped_age = age_bin_summary.groupby("Age Ranges")
grouped_age_df = pd.DataFrame(grouped_age["SN"].count())
grouped_age_df = grouped_age_df.rename(columns = {"SN": "Total Count"})
grouped_age_df["Percentage of Players"] = (grouped_age_df["Total Count"]/grouped_age_df["Total Count"].sum())*100
grouped_age_df["Percentage of Players"] = grouped_age_df["Percentage of Players"].map("{:,.2f}%".format)

# display age demographics
grouped_age_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [16]:
# create bins for purchase
price_bin_summary = heroes_data[["Age", "Price", "SN"]]
bins = [0, 9, 14, 19, 24, 29, 34, 39, float("inf")]
price_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
price_bin_summary["Age Ranges"] = pd.cut(price_bin_summary["Age"], bins, labels = price_bin_names, include_lowest = True)
price_bin_summary

<ipython-input-16-9d1efa35345b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_bin_summary["Age Ranges"] = pd.cut(price_bin_summary["Age"], bins, labels = price_bin_names, include_lowest = True)

     Age  Price             SN Age Ranges
0     20   3.53        Lisim78      20-24
1     40   1.56    Lisovynya38        40+
2     24   4.88     Ithergue48      20-24
3     24   3.27  Chamassasya86      20-24
4     23   1.44      Iskosia90      20-24
..   ...    ...            ...        ...
775   21   3.54     Aethedru70      20-24
776   21   1.63         Iral74      20-24
777   20   3.46     Yathecal72      20-24
778    7   4.19        Sisur91        <10
779   24   4.60      Ennrian78      20-24

[780 rows x 4 columns]

In [17]:
# create df to allow purchase analysis at age level
age_price = price_bin_summary[["Age Ranges", "Price"]]
age_sn = price_bin_summary[["Age Ranges", "SN"]]

In [18]:
# apply age bin and group by to calculate desired stats

# calculate purchase count
age_sn_grouped = age_sn.groupby(["Age Ranges"]).count()
age_sn_grouped = age_sn_grouped.rename(columns = {"SN": "Purchase Count"})
age_sn_grouped

# calculate purchase count
age_price_grouped = age_price.groupby(["Age Ranges"]).sum()
age_price_grouped = age_price_grouped.rename(columns = {"Price": "Total Purchase Value"})
#age_price_grouped

# calculate person count
age_usn_grouped = age_sn.groupby(["Age Ranges"]).nunique()
age_usn_grouped = age_usn_grouped.rename(columns = {"SN": "Person Count"})
#age_usn_grouped

# merge 3 dfs using inner on age range
age_pur_df = pd.merge(pd.merge(age_sn_grouped, age_price_grouped, how = "inner", on = "Age Ranges"), age_usn_grouped, how = "inner", on = "Age Ranges")
age_pur_df["Average Purchase Price"] = age_pur_df["Total Purchase Value"]/age_pur_df["Purchase Count"]
age_pur_df["Average Total Purchase per Person"] = age_pur_df["Total Purchase Value"]/age_pur_df["Person Count"]
age_pur_df = age_pur_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]
age_pur_df["Average Total Purchase per Person"] = age_pur_df["Average Total Purchase per Person"].map("${:.2f}".format)
age_pur_df["Average Purchase Price"] = age_pur_df["Average Purchase Price"].map("${:.2f}".format)
age_pur_df["Total Purchase Value"] = age_pur_df["Total Purchase Value"].map("${:,.2f}".format)

# display purchasing analysis (age)
age_pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [19]:
# top spender
# calculate purchase count by SN
spender_summary = heroes_data[["SN", "Price"]]
purchase_count = spender_summary.groupby(["SN"]).count()
purchase_count = purchase_count.rename(columns = {"Price": "Purchase Count"})

# totl purchase value
TotalPurchaseValue = spender_summary.groupby(["SN"]).sum()
TotalPurchaseValue = TotalPurchaseValue.rename(columns = {"Price": "Total Purchase Value"})

top_spender_df = pd.merge(purchase_count, TotalPurchaseValue, how = "inner", on = "SN")
top_spender_sorted = top_spender_df.sort_values("Total Purchase Value", ascending = False)
top_spender_sorted["Average Purchase Price"] = top_spender_sorted["Total Purchase Value"]/top_spender_sorted["Purchase Count"]
top_spender_sorted = top_spender_sorted[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spender_sorted["Total Purchase Value"] = top_spender_sorted["Total Purchase Value"].map("${:,.2f}".format)
top_spender_sorted["Average Purchase Price"] = top_spender_sorted["Average Purchase Price"].map("${:.2f}".format)

# display 5 top spenders
top_spender_sorted.iloc[:5, :]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

In [20]:
# most popular
popular_summary = heroes_data[["Item ID", "Item Name", "Price"]]
purchase_count = popular_summary.groupby(["Item ID", "Item Name"]).count()
purchase_count = purchase_count.rename(columns = {"Price": "Purchase Count"})

# totl purchase value
TotalPurchaseValue = popular_summary.groupby(["Item ID", "Item Name"]).sum()
TotalPurchaseValue = TotalPurchaseValue.rename(columns = {"Price": "Total Purchase Value"})

most_popular_df = pd.merge(purchase_count, TotalPurchaseValue, how = "inner", on = ["Item ID", "Item Name"])
most_popular_sorted = most_popular_df.sort_values("Purchase Count", ascending = False)
most_popular_sorted["Item Price"] = most_popular_sorted["Total Purchase Value"]/most_popular_sorted["Purchase Count"]
most_popular_sorted["Total Purchase Value"] = most_popular_sorted["Total Purchase Value"].map("${:,.2f}".format)
most_popular_sorted["Item Price"] = most_popular_sorted["Item Price"].map("${:,.2f}".format)

# display 5 most popular
most_popular_sorted.iloc[:5, :]

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
132,Persuasion,9,$28.99,$3.22
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53

In [21]:
# most profitable
most_profitable_sorted = most_popular_df.sort_values("Total Purchase Value", ascending = False)
most_profitable_sorted["Item Price"] = most_profitable_sorted["Total Purchase Value"]/most_profitable_sorted["Purchase Count"]
most_profitable_sorted["Total Purchase Value"] = most_profitable_sorted["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_sorted["Item Price"] = most_profitable_sorted["Item Price"].map("${:,.2f}".format)

# display 5 most profitable
most_profitable_sorted.iloc[:5, :]

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.61
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
82,Nirvana,9,$44.10,$4.90
145,Fiery Glass Crusader,9,$41.22,$4.58
103,Singed Scalpel,8,$34.80,$4.35