In [1]:
# import and set alias for pandas
import pandas as pd

In [2]:
pwd

'C:\\Users\\freed\\class_folder\\Pandas-Challenge\\HeroesOfPymoli'

In [3]:
# read in purchase_data.csv file

data_file = "../../gt-virt-data-pt-12-2021-u-c/04-Pandas/Homework/HeroesOfPymoli/Resources/purchase_data.csv"

In [4]:
heroes_data = pd.read_csv(data_file)

In [5]:
heroes_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
heroes_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [7]:
unique_cnt = heroes_data["SN"].nunique()
unique_cnt

576

In [8]:
# create number as dataframe to print as requested with index

In [9]:
# create purchasing analysis stats: # unique items, avg price, # purchases and total revenue
heroes_data["Item Name"].nunique()
heroes_data["Price"].mean()
heroes_data["Purchase ID"].count()
heroes_data["Price"].sum()

2379.77

In [10]:
# create a unique data set of customers
unique_cust = heroes_data.drop_duplicates(subset = "SN", inplace = False)
unique_cust

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [11]:
gender_df = pd.DataFrame(unique_cust["Gender"].value_counts())
gender_df["Percent"] = gender_df["Gender"]/gender_df["Gender"].sum()
gender_df

                       Gender   Percent
Male                      484  0.840278
Female                     81  0.140625
Other / Non-Disclosed      11  0.019097

In [12]:
gender_summary = heroes_data[["Gender", "SN", "Price"]]

In [49]:
#test = heroes_data[["Gender", "SN", "Price"]].groupby(["Gender"]).agg(['sum', 'count','nunique'])
#test_new.columns = ['_'.join(col) if type(col) is tuple else col for col in test.columns.values]
#test = test.rename(columns={('Price',     'sum'): "new name"})
test.rename(columns = {"SN":"sum", "SN": "count", "SN": "nunique", "Price":"sum", "Price": "count", "Price": "nunique"})
test

                                                                      SN  \
                                                                     sum
Gender
Female                 Lisassa64Reunasu60Reulae52Assosia88Phaelap26Ch...
Male                   Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Other / Non-Disclosed  Chanosian48Siarithria38Haerithp41Sundim98Jiski...

                                       Price
                      count nunique      sum count nunique
Gender
Female                  113      81   361.94   113      79
Male                    652     484  1967.64   652     144
Other / Non-Disclosed    15      11    50.19    15      12

In [38]:
test.columns

MultiIndex([(   'SN',     'sum'),
            (   'SN',   'count'),
            (   'SN', 'nunique'),
            ('Price',     'sum'),
            ('Price',   'count'),
            ('Price', 'nunique')],
           )

In [53]:
new_df_test = gender_summary.groupby(["Gender"]).agg(['sum', 'count','nunique'])
new_df_test["avgpur"] = new_df_test[('Price',     'sum')]/new_df_test[('SN', 'count')]
new_df_test["avgpurcust"] = new_df_test[('Price',     'sum')]/new_df_test[('SN', 'nunique')]
new_df_test

                                                                      SN  \
                                                                     sum
Gender
Female                 Lisassa64Reunasu60Reulae52Assosia88Phaelap26Ch...
Male                   Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Other / Non-Disclosed  Chanosian48Siarithria38Haerithp41Sundim98Jiski...

                                       Price                  avgpur  \
                      count nunique      sum count nunique
Gender
Female                  113      81   361.94   113      79  3.203009
Male                    652     484  1967.64   652     144  3.017853
Other / Non-Disclosed    15      11    50.19    15      12  3.346000

                      avgpurcust

Gender
Female                  4.468395
Male                    4.065372
Other / Non-Disclosed   4.562727

In [54]:
new_df_test.columns

MultiIndex([(        'SN',     'sum'),
            (        'SN',   'count'),
            (        'SN', 'nunique'),
            (     'Price',     'sum'),
            (     'Price',   'count'),
            (     'Price', 'nunique'),
            (    'avgpur',        ''),
            ('avgpurcust',        '')],
           )

In [55]:
new_df_test

                                                                      SN  \
                                                                     sum
Gender
Female                 Lisassa64Reunasu60Reulae52Assosia88Phaelap26Ch...
Male                   Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Other / Non-Disclosed  Chanosian48Siarithria38Haerithp41Sundim98Jiski...

                                       Price                  avgpur  \
                      count nunique      sum count nunique
Gender
Female                  113      81   361.94   113      79  3.203009
Male                    652     484  1967.64   652     144  3.017853
Other / Non-Disclosed    15      11    50.19    15      12  3.346000

                      avgpurcust

Gender
Female                  4.468395
Male                    4.065372
Other / Non-Disclosed   4.562727

In [56]:
keep_df = new_df_test[(        'SN',   'count'), (    'avgpur',        ''), (     'Price',     'sum'), ('avgpurcust',        '')]
keep_df

KeyError: 'Key length (4) exceeds index depth (2)'